/laba1/.idea/
/laba1/.venv/
/.idea/vcs.xml
/laba2/.idea/
/laba2/.idea/
/.idea/
/laba3/TcpChatClient/.idea/
/laba3/MyChatApp/.idea/
/laba3/MyChatApp/MyChatApp/bin/
/laba3/MyChatApp/MyChatApp/obj/
/laba3/TcpChatClient/TcpChatClient/bin/
/laba3/TcpChatClient/TcpChatClient/obj/
/laba3/MyChatApp/MyChatApp/wwwroot/lib/
/.idea/
